@value makerBlack,makerWhite,makerMain,makerDarkMain from "/src/common/colors.css";

.LoginPopUp {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: makerDarkMain;
	border-radius: 10px;
	width: 70%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}
.header {
	font-size: 1.8rem;
	font-weight: 700;
	padding: 1rem;
	color: makerWhite;
	border-radius: 10px 10px 0 0;
	background-color: makerMain;
}
.main {
	font-size: 1.5rem;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: makerWhite;
	background-color: makerDarkMain;
}
.loginBtn {
	font-size: 1.1rem;
	padding: 0.5em 1em;
	background-color: makerWhite;
	border-radius: 0.5rem;
	width: fit-content;
	margin: 0.2em 0;
	color: makerDarkMain;
	background-color: makerWhite;
	transition: all ease 200ms;
}
.loginBtn:hover {
	transform: scale(1.1);
}
.footer {
	color: makerWhite;
	font-size: 1rem;
	font-weight: 600;
	padding: 1em 0;
	border-radius: 0 0 10px 10px;
	background-color: makerMain;
}
