@value mediaQueryPC,mediaQueryTablet from '../../../../common/size.css';

.container {
	flex: 0 1 auto;
	margin: 0.2em;
}
.information {
	margin: 0 0.1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.input {
	height: 2rem;
	flex-basis: 45%;
	border: none;
	border-bottom: 1px solid #c5c5c5;
	outline: none;
	padding: 5px;
	margin: 0.8em 0;
	font-size: 1rem;
}
.fileInput {
	margin: auto;
}

@media screen and (max-width: mediaQueryTablet) {
	.container {
		margin-top: 2em;
	}
}
