.container {
	flex: 0 1 60%;
}
.information {
	margin: 0 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.information > input,
.information > textarea {
	height: 2rem;
	flex-basis: 45%;
	border: none;
	border-bottom: 1px solid #c5c5c5;
	outline: none;
	padding: 5px;
	margin: 0.8em 0;
	font-size: 1rem;
}
.information .statement,
.information .description {
	flex: 1 1 90%;
}
.upload {
	width: fit-content;
	margin-top: 1rem;
	font-size: 1rem;
	padding: 0.8em 1em;
	border-radius: 15px;
	color: white;
	margin-right: 2%;
	background-color: skyblue;
}
