@value mediaQueryPC,mediaQueryTablet,mediaQueryMobile from '../../../../common/size.css';

.container {
	flex: 0 1 auto;
	margin: 0.2em;
}
.information {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.input {
	height: 2rem;
	flex-basis: 45%;
	border: none;
	border-bottom: 1px solid #c5c5c5;
	outline: none;
	padding: 5px;
	margin: 0.8em 0;
	font-size: 1rem;
}
.input:nth-child(1),
.input:nth-child(3),
.input:nth-child(5) {
	margin: 0.8em;
}
.input:last-child {
	flex-basis: 100%;
	margin-left: 0.8em;
}

.fileInput {
	margin: auto;
}

@media screen and (max-width: mediaQueryTablet) {
	.container {
		margin-top: 2em;
	}
	.input {
		height: 1.5rem;
		flex-basis: 40%;
		font-size: 0.8rem;
	}
}
@media screen and (max-width: mediaQueryMobile) {
	.container {
		margin: 0.1em;
	}
	.input {
		height: 1.5rem;
		flex-basis: 90%;
		font-size: 0.8rem;
		margin: 0.8em;
	}
}
