@value makerBlack from "./common/colors.css";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* font-family: "Roboto", sans-serif; */
	font-family: "Lato";
}
a {
	text-decoration: none;
}
button {
	background-color: transparent;
	border-style: none;
	cursor: pointer;
}
li {
	list-style: none;
}
textarea {
	border-style: none;
	outline: none;
}
