@value mediaQueryPC,mediaQueryTablet from '../../../../common/size.css';
@value makerMain from '../../../../common/colors.css';
.container{
	margin: 50px 20px;
}
.list {
	margin: 0.5rem auto 0 auto;
}

@media screen and (min-width: mediaQueryTablet) {
	.list {
		max-width: mediaQueryTablet;
	}
}
