.videos{
  display: flex;
  flex-wrap: wrap;
  background-color: #181818;
}
.videos.grid{
  flex-direction: row;
  margin-left: 1rem;
}
.videos.list{
  flex-direction: column;
}
@media screen and (max-width: 48rem){
  .videos.list,
  .videos.grid{
    justify-content: center;
  }
}