:root{
  --tag:#3ea6ff;
  --divider: rgb(78, 78, 78);
}

.detail{
  background-color: var(--background);
  color:var(--font-main);
  display: flex;
  flex-direction: column;
  margin: 0 2rem 1rem 2rem;
}
.video{
  margin-bottom: 1rem;
}
.tags{
  font-size: 0.8rem;
  padding-bottom: 10px;
  color: var(--tag);
}
.title{
  font-size:1.3rem;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--divider);
}
.channel{
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}
.description{
  overflow: auto;
  white-space: pre-wrap;
  font-size: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  border-bottom: 1px solid var(--divider);
}

@media screen and (max-width: 70rem){
  .video{
    height: 360px;
  }
}
@media screen and (max-width: 30rem){
  .video{
    height: 220px;
  }
}