.contents{
  display: flex;
  background-color: var(--background);
}
.detail{
  flex: 1 1 70%;
}
.list{
  flex: 2 1 30%;
}

@media screen and (max-width: 48rem){
  .contents{
    flex-direction: column;
  }
  .list{
    margin-left: 2rem;
  }
}