:root{
  --background: #181818;
  --font-main: #dfdfdf;
  --font-sub: #808080;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--darkmode-bg);
}
input{
  outline-style: none;
}
button{
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}