@value makerBlack from "/src/common/colors.css";
@value makerWhite from "/src/common/colors.css";

.header {
	height: 80px;
	padding: 0 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: skyblue;
}
.title {
	color: makerWhite;
	font-size: 2rem;
	font-weight: 600;
}
.user {
	display: flex;
	align-items: center;
}
.photo {
	width: 25px;
	height: 25px;
	margin-right: 0.5em;
}
.logIn,
.logout {
	font-size: 0.8rem;
	color: makerWhite;
	background-color: blue;
	padding: 0.5em 1em;
	margin-left: 1em;
	border: 2px solid makerWhite;
	border-radius: 5px;
}
