@value makerBlack,makerWhite,makerDarkMain,makerMain from "/src/common/colors.css";
@value mediaQueryTablet,mediaQueryMobile from '../../../../common/size.css';

.header {
	height: 80px;
	padding: 0 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: makerMain;
}
.title {
	color: makerWhite;
	font-size: 2rem;
	font-weight: 900;
}
.user {
	display: flex;
	align-items: center;
}
.name {
	color: makerWhite;
	font-size: 1.2rem;
	white-space: pre-wrap;
}
.logInOut {
	font-size: 0.8rem;
	color: makerMain;
	background-color: makerWhite;
	padding: 0.5em;
	margin-left: 0.5em;
	border-radius: 5px;
}

@media screen and (max-width: mediaQueryMobile) {
	.header {
		padding: 0 1rem;
	}
	.title {
		font-size: 1.6rem;
	}
	.name {
		font-size: 0.7rem;
	}
	.logInOut {
		font-size: 0.7rem;
		margin-left: 0.5em;
	}
}

@media screen and (max-width: mediaQueryTablet) and (min-width: mediaQueryMobile) {
	.title {
		font-size: 1.6rem;
	}
	.header {
		padding: 0 1rem;
	}
	.title {
		font-size: 2rem;
	}
	.name {
		font-size: 1rem;
	}
}
