.input {
	display: none;
}
.button {
	display: block;
	width: fit-content;
	margin: 1rem auto 0 auto;
	font-size: 1rem;
	padding: 0.8em 1em;
	border-radius: 15px;
	color: white;
	margin-right: 2%;
	background-color: skyblue;
}
