@value makerBlack,makerWhite,makerViolet from "/src/common/colors.css";

.input {
	display: none;
}
.button {
	display: block;
	margin: auto;
	font-size: 1rem;
	padding: 0.8em 1em;
	border-radius: 15px;
	color: makerWhite;
	margin-right: 2%;
	background-color: makerViolet;
}
