.video{
  background-color: #181818;
  display: flex;
  border-radius: 2px;
  width: min-content;
}
.video:hover{
  cursor: pointer;
}
.video.grid{
  flex-direction: column;
}
.video.grid .thumbnail{
  width: 320px;
  height:180px;
}
.video.list{
  flex-direction: row;
  width: 100%;
}
.video.list .title{
  height: 80%;
  font-size: 0.8rem;
}
.video.list .thumbnail{
  width: 160px;
  height:90px;
}
.thumbnail{
  margin: 5px;
}
.info{
  display: flex;
  flex-direction: column;
  color:white;
  margin: 5px 10px;
  height: 100px;
}
.title{
  overflow: hidden;
  font-size: 1rem;
  font-weight: 600;
}
.channel{
  margin: 5px 0;
  font-size: 0.7rem;
}