@value makerBlack,makerWhite,makerMain,makerDarkMain from "/src/common/colors.css";
@value mediaQueryMobile,mediaQueryTablet from "/src/common/size.css";

.hidden {
	visibility: hidden;
}
.container {
	width: 90%;
	height: max-content;
}
.card {
	width: 380px;
	height: 180px;
	background-color: rgba(184, 184, 184, 0.2);
	border-radius: 3px;
	margin-bottom: 0.5em;
	margin-top: 5em;
}
.detail {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0.2rem 1.5rem;
	color: makerBlack;
}
.top {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.companyInfo {
	margin-bottom: 1.5em;
}

.name {
	font-size: 1.1rem;
	font-weight: 400;
	padding-bottom: 0.2em;
}
.role,
.position,
.company {
	font-size: 0.7rem;
	margin-right: 0.5em;
}

.number,
.email,
.address {
	font-size: 0.7rem;
}

.imgContainer {
	display: inline-block;
	position: relative;
	top: 20px;
	left: 20px;
}

.img {
	width: 100px;
	height: 30px;
}
.button {
	width: max-content;
	margin-right: 1em;
	margin-bottom: 2em;
	font-size: 1rem;
	padding: 0.8em 1em;
	border-radius: 15px;
	color: makerWhite;
	background-color: makerDarkMain;
	align-self: flex-end;
}
.bottom {
	align-self: flex-end;
	width: max-content;
	display: flex;
	flex-direction: column;
}
.icon {
	margin-right: 8px;
	font-size: 0.7rem;
}
@media screen and (max-width: mediaQueryTablet) {
	.button {
		font-size: 0.8rem;
		margin-bottom: 1em;
	}
}

@media screen and (max-width: mediaQueryMobile) {
	.container {
		width: 100%;
	}
	.card {
		width: 250px;
		height: 120px;
		margin-top: 3em;
	}
	.imgContainer {
		top: 14px;
		left: 14px;
	}
	.img {
		position: relative;
		width: 65px;
		height: 22px;
	}
	.name {
		font-size: 0.9rem;
		font-weight: 400;
		padding-bottom: 0.2em;
	}
	.role,
	.position,
	.company {
		font-size: 0.3rem;
		margin-right: 0.5em;
	}

	.number,
	.email,
	.address {
		font-size: 0.2rem;
	}

	.icon {
		font-size: 0.5rem;
	}

	.companyInfo {
		margin-bottom: 0.5em;
	}
}
