@value makerBlack,makerWhite,makerViolet from "/src/common/colors.css";

.hidden {
	visibility: hidden;
}
.container {
	width: 100%;
	height: max-content;
}
.card {
	width: 380px;
	height: 180px;
	background-color: rgba(184, 184, 184, 0.2);
	border-radius: 3px;
	margin-bottom: 0.5em;
	margin-top: 5em;
}
.detail {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0.2rem 1.5rem;
	color: makerBlack;
}
.top {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.companyInfo {
	border-top: 1px solid rgb(145, 145, 145);
	margin-bottom: 1em;
}

.name {
	font-size: 1.1rem;
	font-weight: 400;
	padding-bottom: 0.2em;
}
.position,
.company {
	font-size: 0.8rem;
	margin-right: 0.5em;
}

.role,
.number,
.email,
.address {
	font-size: 0.7rem;
}

.imgContainer {
	display: inline-block;
	position: relative;
	top: 20px;
	left: 20px;
}

.img {
	position: relative;
	width: 100px;
	height: 30px;
}
.button {
	width: max-content;
	margin-right: 1em;
	margin-bottom: 2em;
	font-size: 1rem;
	padding: 0.8em 1em;
	border-radius: 15px;
	color: makerWhite;
	background-color: makerViolet;
	align-self: flex-end;
}
.bottom {
	align-self: flex-end;
	width: max-content;
	display: flex;
	flex-direction: column;
}
